
body,html {
height: 100%;
margin: 0px;
background-color: black;
overflow: hidden;
}

body {
display: grid;
justify-items: center;
}




/* monitors and laptops */
@media (min-width: 1240px)  {

    #bm {
        top: -10%;
        width: 100%;
        position: relative;
        }

}

/* mobile */
@media screen and (max-width: 768px) {

    #bm {
        position: relative;
        width: 235%;
        left: -3%;
        }
}
